
{% extends 'base.html' %}


{% block title %}Sign Up{% endblock %}


{% block content %}
<div class="container py-5" style="max-width: 500px;">
<div class="card shadow-sm p-4">
  <div class="d-flex align-items-center gap-3 mb-4">
    <a href="{% url 'dashboards:user_dashboard' %}" class="btn btn-gradient btn-sm">
      <i class="bi bi-arrow-left"></i> Back
    </a>
    <h3 class="mb-0">Create an Account</h3>
  </div>


<form method="post">
{% csrf_token %}
{{ form.non_field_errors }}


{% for field in form %}
<div class="mb-3">
{{ field.label_tag }}
{{ field }}
{{ field.errors }}
</div>
{% endfor %}


<button type="submit" class="btn btn-primary w-100">Sign Up</button>
</form>


<div class="text-center mt-3">
Already have an account? <a href="{% url 'users:login' %}">Login here</a>.
</div>
</div>
</div>
{% endblock %}